.otp{
    position: relative;
    height: 100vh;
    width: 100vw;
    min-width: 350px;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 38px;
}

.otp-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.otp-container{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}
.otp-input{
    height: 48px;
    width: 48px;
}