.home{
    position: relative;
    height: 100vh;
    width: 100vw;
    min-width: 350px;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.home-heading-container{
    height: 148px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-heading{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 50px;
}
.home-heading > span{
    color: #BC345D;
}

.home-content-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 38px;
}

.home-input-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.ride{
    width: 100%;
    height: 45px;
    background-color: #ed8eaa2a;
    border: 1px solid black;
    border-radius: 100px;
    display: flex;
    align-items: center;
}
.ride div{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 400;
}





/********************** recent places ***********************/




.home-recent-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.home-recent-heading{
    font-size: 24px;
    font-weight: 500;
    margin-left: 5px;
}
.home-recent-input{
    width: 100%;
    background-color: #ed8eaa47;
    height: 45px;
    border-radius: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 14px;
}
.home-recent-input > img{
    margin-left: 10px;
    height: 30px;
}
.home-recent-input > div{
    width: calc(100% - 64px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.recent-location-name{
    width: 95%;
    font-size: 16px;
    font-weight: 500;
    max-width: 90%;
    overflow: hidden;
}
.recent-location-address{
    width: 95%;
    font-size: 12px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;

}


/***************************** Must visit **************************/


.home-mustvisit-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.places-list-container{
    width: 100%;
    display: flex;
    gap: 28px;
    overflow-x: scroll;
    scrollbar-width: none;
}
.place-component{
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.place-component img{
    width: 216px;
    height: 120px;
    object-fit: fill;
    border-radius: 20px;
}
.place-component div{
    font-size: 18px;
    font-weight: 400;
    margin-left: 20px;
}
